.revenue {
  margin-bottom: 325.5px;
}

.revenue__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 205px;
}

.revenue__container svg {
  margin-bottom: 50px;
}

.revenue__title {
  margin: 0;
  margin-bottom: 17px;
  padding-right: 75px;
  font-weight: 800;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: 2.04px;
  color: var(--color-bg);
}

.revenue__descr {
  margin: 0;
  padding: 0 250px;
  font-size: 31px;
  line-height: 38px;
  color: var(--color-bg);
}

.revenue__decor {
  position: absolute;
  display: inline-block;
  padding-left: 74px;
  width: 220px;
  min-height: 50px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 12px 0;
  line-height: 27px;
  color: var(--color-bg);
}

.revenue__decor-1 {
  top: 102px;
  left: 81.5px;
  background-image: url(../../img/decor-1.jpg);
  background-position: 12px 13px;
}

.revenue__decor-2 {
  top: 500px;
  left: 81.5px;
  background-image: url(../../img/decor-2.jpg);
}

.revenue__decor-3 {
  top: 243px;
  right: 83px;
  background-image: url(../../img/decor-3.jpg);
  background-position: 12px 12px;
}

.revenue__decor-4 {
  top: 394px;
  right: 34px;
  padding: 20px 0 20px 74px;
  background-image: url(../../img/decor-4.jpg);
  background-position: 12px 9px;
}
